<template name="home">
	<!--Banner-->
	<section class="slide-container to-top">
		<div class="ms-fullscreen-template" id="slider1-wrapper">
			<!-- masterslider -->
			<div class="master-slider ms-skin-default" id="masterslider-index">
				<div class="ms-slide slide-1" data-delay="0">
					<div class="slide-pattern"></div>
					<video data-autopause="false" data-mute="true" data-loop="true" data-fill-mode="fill">
						<source src="/images/video/demo.mp4" type="video/mp4"/>
					</video>
					<h3 class="ms-layer hps-title1" style="left:101px"
						data-type="text"
						data-ease="easeOutExpo"
						data-delay="1000"
						data-duration="0"
						data-effect="skewleft(30,80)"
					>
						CrossBit Fitness Club
					</h3>
					<h3 class="ms-layer hps-title3" style="left:95px"
						data-type="text"
						data-delay="1900"
						data-duration="0"
						data-effect="rotate3dtop(-100,0,0,40,t)"
						data-ease="easeOutExpo"
					>
						Making You Fit
					</h3>

					<h3 class="ms-layer hps-title4" style="left:101px"
						data-type="text"
						data-delay="2500"
						data-duration="0"
						data-effect="rotate3dtop(-100,0,0,18,t)"
						data-ease="easeOutExpo"
					>
						Try A Free Class
					</h3>
				</div>
				<div class="ms-slide slide-2" data-delay="0">
					<div class="slide-pattern"></div>
					<img src="/images/blank.gif" data-src="/images/onepage/banner-shop-1.png" alt="lorem ipsum dolor sit"/>
					<h3 class="ms-layer hps-title1" style="left:101px"
						data-type="text"
						data-ease="easeOutExpo"
						data-delay="1000"
						data-duration="0"
						data-effect="skewleft(30,80)">
						CrossBit Fitness Club
					</h3>
					<h3 class="ms-layer hps-title3" style="left:95px"
						data-type="text"
						data-delay="1900"
						data-duration="0"
						data-effect="rotate3dtop(-100,0,0,40,t)"
						data-ease="easeOutExpo"
					>
						Making You Strong
					</h3>

					<h3 class="ms-layer hps-title4" style="left:101px"
						data-type="text"
						data-delay="2500"
						data-duration="0"
						data-effect="rotate3dtop(-100,0,0,18,t)"
						data-ease="easeOutExpo"
					>
						Try A Free Class
					</h3>
				</div>

				<div class="ms-slide slide-3" data-delay="0">
					<div class="slide-pattern"></div>
					<img src="/images/blank.gif" data-src="/images/onepage/banner-shop.png" alt="lorem ipsum dolor sit"/>
					<h3 class="ms-layer hps-title1" style="left:101px"
						data-type="text"
						data-ease="easeOutExpo"
						data-delay="1000"
						data-duration="0"
						data-effect="skewleft(30,80)"
					>
						CrossBit Fitness Club
					</h3>
					<h3 class="ms-layer hps-title3" style="left:95px"
						data-type="text"
						data-delay="1900"
						data-duration="0"
						data-effect="rotate3dtop(-100,0,0,40,t)"
						data-ease="easeOutExpo"
					>
						Making You Feel Good
					</h3>

					<h3 class="ms-layer hps-title4" style="left:101px"
						data-type="text"
						data-delay="2500"
						data-duration="0"
						data-effect="rotate3dtop(-100,0,0,18,t)"
						data-ease="easeOutExpo"
					>
						Try A Free Class
					</h3>
				</div>
			</div>
			<!-- end of masterslider -->
			<div class="to-bottom" id="to-bottom"><i class="fa fa-angle-down"></i></div>
		</div>
	</section>
	<!--End Banner-->

	<div class="contents-main" id="contents-main">
		<div id="club">
			<!--About-->
			<section id="about" class="about scroll-to">
				<div class="about-top">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="title-page title-about">
									<h3>About the CrossBit</h3>
									<p>Working from home meant we could vary snack and coffee breaks, change our desks or view, goof off, drink on the job, even spend the day in pajamas.</p>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="box-left">
									<div class="icon">
										<i class="fa fa-bolt"></i>
									</div>
									<div class="content-about">
										<h4 class="about-title">Certified Trainers</h4>
										<p>Fusce gravida tortor felis. Ac dictum risus sagittis id morbi posu justo eleifend libero ultricies asunt </p>
									</div>
								</div>
								<div class="box-left">
									<div class="icon">
										<i class="fa fa-rocket"></i>
									</div>
									<div class="content-about">
										<h4 class="about-title">Calendar And Event Manager</h4>
										<p>Fusce gravida tortor felis. Ac dictum risus sagittis id morbi posu justo eleifend libero ultricies asunt </p>
									</div>
								</div>
								<div class="box-left">
									<div class="icon">
										<i class="fa fa-globe"></i>
									</div>
									<div class="content-about">
										<h4 class="about-title">Worldwide access</h4>
										<p>Fusce gravida tortor felis. Ac dictum risus sagittis id morbi posu justo eleifend libero ultricies asunt </p>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="box-right">
									<div class="icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
									<div class="content-about">
										<h4 class="about-title">Live Video Classes</h4>
										<p>Fusce gravida tortor felis. Ac dictum risus sagittis id morbi posu justo eleifend libero ultricies asunt </p>
									</div>
								</div>
								<div class="box-right">
									<div class="icon">
										<i class="fa fa-magic"></i>
									</div>
									<div class="content-about">
										<h4 class="about-title">Guaranteed Success</h4>
										<p>Fusce gravida tortor felis. Ac dictum risus sagittis id morbi posu justo eleifend libero ultricies asunt </p>
									</div>
								</div>
								<div class="box-right">
									<div class="icon">
										<i class="fa fa-cog"></i>
									</div>
									<div class="content-about">
										<h4 class="about-title">Tailored to your needs</h4>
										<p>Fusce gravida tortor felis. Ac dictum risus sagittis id morbi posu justo eleifend libero ultricies asunt </p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--News-->
				<section class="news-page">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="news-cont">
									<div class="title-page">
										<h4>CrossBit online</h4>
										<h3>Latest Online</h3>
										<h3>Classes</h3>
									</div>
									<p class="news-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet pulvinar nulla, quis facilisis nulla.
									<a href="#">Click here to see all</a></p>
									<div class="news-wapper">
										<div class="col-md-4 col-sm-4 col-xs-12">
											<div class="img-news">
												<img src="/images/img-1.png" alt=""/>
											</div>
										</div>
										<div class="col-md-8 col-sm-8 col-xs-12">
											<div class="details-news">
												<h6>Individual</h6>
												<a href="#">New Individual Classes</a>
												<p>Consectetur adipiscing elit. Nunc sit amet pulvinar nulla, quis facilisis nulla.</p>
											</div>
										</div>
									</div>
									<div class="news-wapper">
										<div class="col-md-4 col-sm-4 col-xs-12">
											<div class="img-news">
												<img src="/images/img-2.png" alt=""/>
											</div>
										</div>
										<div class="col-md-8 col-sm-8 col-xs-12">
											<div class="details-news">
												<h6>Groups</h6>
												<a href="#">Larger Groups</a>
												<p>Consectetur adipiscing elit. Nunc sit amet pulvinar nulla, quis facilisis nulla.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="news-cont">
									<div class="title-page">
										<h4>CrossBit Events</h4>
										<h3>Upcoming</h3>
										<h3>Events</h3>
									</div>
									<p class="news-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet pulvinar nulla, quis facilisis nulla.
									<a href="#">Click here to see all</a></p>
									<div class="news-content">
										<ul>
											<li class="latest-news-item">
												<div class="news-item-inner">
													<div class="news-date">
														<div class="news-day">12</div>
														<div class="news-month">AUG</div>
													</div>
													<div class="news-info">
														<div class="news-title">
															<a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet </a>
														</div>
														<div class="news-time">
															<p>8:00 P.M. - 10:00 P.M.</p>
														</div>
													</div>
												</div>
											</li>
											<li class="latest-news-item">
												<div class="news-item-inner">
													<div class="news-date">
														<div class="news-day">25</div>
														<div class="news-month">AUG</div>
													</div>
													<div class="news-info">
														<div class="news-title">
															<a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet </a>
														</div>
														<div class="news-time">
															<p>6:00 P.M. - 8:00 P.M.</p>
														</div>
													</div>
												</div>
											</li>
											<li class="latest-news-item">
												<div class="news-item-inner">
													<div class="news-date">
														<div class="news-day">5</div>
														<div class="news-month">SEP</div>
													</div>
													<div class="news-info">
														<div class="news-title">
															<a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet </a>
														</div>
														<div class="news-time">
															<p>8:00 A.M- 10:00 P.M</p>
														</div>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!--News-->
			</section>
			<!--End About-->

			<!--Training-->
			<!-- PARALLAX WINDOWS -->
			<div class="parallax-block-wrap-module auto-width">
				<div class="parallax-block bt-advance-parallax" id="parallax-block">

					<!-- PARALLAX CONTENT -->
					<div class="control-button">
						<div class="nav-wrap hidden">
							<div class="nav-wrap-in next">
								<span class="nav-next"></span>
							</div>
							<div class="nav-wrap-in prev">
								<span class="nav-prev"></span>
							</div>
						</div>
						<div style="display: none;" class="button-wrap">
							<span class="button close-btn"></span>
						</div>
					</div>
					<div class="parallax-background">
						<!--Textured and color-->
						<div class="parallax-background-overlay"></div>
						<!-- <img alt="" src="/images/onepage/play-video.jpg"> -->
						<img alt="" src="/images/onepage/play-video.png">
					</div>

					<div class="parallax-block-content default-pos parallax-text">
						<div class="container">
							<h1>Start your</h1>
							<h1 class="training-title">Training today</h1>
							<span class="button open-btn"><span>Play Now</span></span>
						</div>
					</div>

					<div class="overlay-loading"><span class="loading"><img src="/images/loading-black.gif" alt=""/></span></div>

					<!-- POPUP CONTENT -->
					<div  class="parallax-content-wrap">
						<div class="parallax-content hidden">
							<div class="parallax-content-in">
							</div>
							<div class="content-show-large">
								<div class="item-contain">
									<div class="video-inner">
										<!-- VIDEO TAG OR EMBED CODE -->
										<video data-fill-mode="fill" data-loop="true" data-autopause="false">
											<source type="video/mp4" src="/images/video/demo.mp4" />
										</video>
									</div>
								</div>
								<div class="loading"><img src="/images/loading-black.gif" alt=""/></div>
							</div>
						</div>
					</div>
					<!-- end POPUP CONTENT -->

				</div>
			</div>
			<!--End Training-->
		</div>

		<!-- Timetable -->
		<div id="timetable">
			<div class="table-success">
				<!-- TimeTable -->
				<section class="timetable">
					<div class="container">
						<div class="row">
							<div class="timetable-top">
								<div class="col-md-12">
									<div class="title-page title-time">
										<h3>CrossBit Timetable</h3>
										<p>Working from home meant we could vary snack and coffee breaks, change our desks or view, goof off, drink on the job, even spend the day in pajamas.</p>
									</div>
								</div>
								<div class="timetable-content col-md-12">
									<div class="owl-carousel" data-nav="t-nav-" data-plugin-options='{"autoPlay":false,"autoHeight":true}'>
										<div class="time-table-main">
											<div class="octember col-md-3 col-sm-6 col-xs-12">
												<div class="month">
													<div class="timetable-title">
														<span>2015</span>
														<p>August</p>
													</div>
													<div class="next">
														<button class="circle icon-wrap t-nav-prev">
															<i class="fa fa-angle-left"></i>
														</button>
														<button class="circle icon-wrap t-nav-next">
															<i class="fa fa-angle-right"></i>
														</button>
													</div>
												</div>
											</div>
											<div class="monday day col-md-3 col-sm-6 col-xs-12">
												<div class="timetable-cont">
													<div class="time-table-title">
														<span>August, 10</span>
														<p>Monday</p>
													</div>
													<img alt="img" src="/images/athlete-1.png">
													<div class="box-content">
														<div class="table">
															<div class="box-cell">
																<div class="timetable-info">
																	<div class="title-content">
																		<span>Boxing for girls</span>
																		<div class="border-bottom"></div>
																		<p>16 P.M - 18P.M ANNA KATE</p>
																	</div>
																	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat volutpat nunc. Mauris eleifend nisi diam, ac cursus augue</p>
																	<div class="timetable_details">
																		<a href="#">Read more</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="tuesday day col-md-3 col-sm-6 col-xs-12">
												<div class="timetable-cont">
													<div class="time-table-title">
														<span>August, 11</span>
														<p>Tuesday</p>
													</div>
													<img alt="img" src="/images/athlete-2.png">
													<div class="box-content">
														<div class="table">
															<div class="box-cell">
																<div class="timetable-info">
																	<div class="title-content">
																		<span>Boxing for girls</span>
																		<div class="border-bottom"></div>
																		<p>16 P.M - 18P.M ANNA KATE</p>
																	</div>
																	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat volutpat nunc. Mauris eleifend nisi diam, ac cursus augue</p>
																	<div class="timetable_details">
																		<a href="#">Read more</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="wednesday day col-md-3 col-sm-6 col-xs-12">
												<div class="timetable-cont">
													<div class="time-table-title">
														<span>August, 12</span>
														<p>Wednesday</p>
													</div>
													<img alt="img" src="/images/athlete-3.png">
													<div class="box-content">
														<div class="table">
															<div class="box-cell">
																<div class="timetable-info">
																	<div class="title-content">
																		<span>Boxing for girls</span>
																		<div class="border-bottom"></div>
																		<p>16 P.M - 18P.M ANNA KATE</p>
																	</div>
																	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat volutpat nunc. Mauris eleifend nisi diam, ac cursus augue</p>
																	<div class="timetable_details">
																		<a href="#">Read more</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="thursday day col-md-3 col-sm-6 col-xs-12">
												<div class="timetable-cont">
													<div class="time-table-title">
														<span>August, 13</span>
														<p>Thursday</p>
													</div>
													<img alt="img" src="/images/athlete-4.png">
													<div class="box-content">
														<div class="table">
															<div class="box-cell">
																<div class="timetable-info">
																	<div class="title-content">
																		<span>Boxing for girls</span>
																		<div class="border-bottom"></div>
																		<p>16 P.M - 18P.M ANNA KATE</p>
																	</div>
																	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat volutpat nunc. Mauris eleifend nisi diam, ac cursus augue</p>
																	<div class="timetable_details">
																		<a href="#">Read more</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="friday day col-md-3 col-sm-6 col-xs-12">
												<div class="timetable-cont">
													<div class="time-table-title">
														<span>August, 14</span>
														<p>Friday</p>
													</div>
													<img alt="img" src="/images/athlete-5.png">
													<div class="box-content">
														<div class="table">
															<div class="box-cell">
																<div class="timetable-info">
																	<div class="title-content">
																		<span>Boxing for girls</span>
																		<div class="border-bottom"></div>
																		<p>16 P.M - 18P.M ANNA KATE</p>
																	</div>
																	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat volutpat nunc. Mauris eleifend nisi diam, ac cursus augue</p>
																	<div class="timetable_details">
																		<a href="#">Read more</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="saturday day col-md-3 col-sm-6 col-xs-12">
												<div class="timetable-cont">
													<div class="time-table-title">
														<span>August, 15</span>
														<p>Saturday</p>
													</div>
													<img alt="img" src="/images/athlete-6.png">
													<div class="box-content">
														<div class="table">
															<div class="box-cell">
																<div class="timetable-info">
																	<div class="title-content">
																		<span>Boxing for girls</span>
																		<div class="border-bottom"></div>
																		<p>16 P.M - 18P.M ANNA KATE</p>
																	</div>
																	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat volutpat nunc. Mauris eleifend nisi diam, ac cursus augue</p>
																	<div class="timetable_details">
																		<a href="#">Read more</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="sunday day col-md-3 col-sm-6 col-xs-12">
												<div class="timetable-cont">
													<div class="time-table-title">
														<span>August, 16</span>
														<p>Sunday</p>
													</div>
													<img alt="img" src="/images/athlete-7.png">
													<div class="box-content">
														<div class="table">
															<div class="box-cell">
																<div class="timetable-info">
																	<div class="title-content">
																		<span>Boxing for girls</span>
																		<div class="border-bottom"></div>
																		<p>16 P.M - 18P.M ANNA KATE</p>
																	</div>
																	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat volutpat nunc. Mauris eleifend nisi diam, ac cursus augue</p>
																	<div class="timetable_details">
																		<a href="#">Read more</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="time-table-main">
											<div class="octember col-md-3 col-sm-6 col-xs-12">
												<div class="month">
													<div class="timetable-title">
														<span>2015</span>
														<p>August</p>
													</div>
													<div class="next">
														<button class="circle icon-wrap t-nav-prev">
															<i class="fa fa-angle-left"></i>
														</button>
														<button class="circle icon-wrap t-nav-next">
															<i class="fa fa-angle-right"></i>
														</button>
													</div>
												</div>
											</div>
											<div class="monday day col-md-3 col-sm-6 col-xs-12">
												<div class="timetable-cont">
													<div class="time-table-title">
														<span>August, 17</span>
														<p>Monday</p>
													</div>
													<img alt="img" src="/images/athlete-1.png">
													<div class="box-content">
														<div class="table">
															<div class="box-cell">
																<div class="timetable-info">
																	<div class="title-content">
																		<span>Boxing for girls</span>
																		<div class="border-bottom"></div>
																		<p>16 P.M - 18P.M ANNA KATE</p>
																	</div>
																	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat volutpat nunc. Mauris eleifend nisi diam, ac cursus augue</p>
																	<div class="timetable_details">
																		<a href="#">Read more</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="tuesday day col-md-3 col-sm-6 col-xs-12">
												<div class="timetable-cont">
													<div class="time-table-title">
														<span>August, 18</span>
														<p>Tuesday</p>
													</div>
													<img alt="img" src="/images/athlete-2.png">
													<div class="box-content">
														<div class="table">
															<div class="box-cell">
																<div class="timetable-info">
																	<div class="title-content">
																		<span>Boxing for girls</span>
																		<div class="border-bottom"></div>
																		<p>16 P.M - 18P.M ANNA KATE</p>
																	</div>
																	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat volutpat nunc. Mauris eleifend nisi diam, ac cursus augue</p>
																	<div class="timetable_details">
																		<a href="#">Read more</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="wednesday day col-md-3 col-sm-6 col-xs-12">
												<div class="timetable-cont">
													<div class="time-table-title">
														<span>August, 19</span>
														<p>Wednesday</p>
													</div>
													<img alt="img" src="/images/athlete-3.png">
													<div class="box-content">
														<div class="table">
															<div class="box-cell">
																<div class="timetable-info">
																	<div class="title-content">
																		<span>Boxing for girls</span>
																		<div class="border-bottom"></div>
																		<p>16 P.M - 18P.M ANNA KATE</p>
																	</div>
																	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat volutpat nunc. Mauris eleifend nisi diam, ac cursus augue</p>
																	<div class="timetable_details">
																		<a href="#">Read more</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="thursday day col-md-3 col-sm-6 col-xs-12">
												<div class="timetable-cont">
													<div class="time-table-title">
														<span>August, 20</span>
														<p>Thursday</p>
													</div>
													<img alt="img" src="/images/athlete-4.png">
													<div class="box-content">
														<div class="table">
															<div class="box-cell">
																<div class="timetable-info">
																	<div class="title-content">
																		<span>Boxing for girls</span>
																		<div class="border-bottom"></div>
																		<p>16 P.M - 18P.M ANNA KATE</p>
																	</div>
																	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat volutpat nunc. Mauris eleifend nisi diam, ac cursus augue</p>
																	<div class="timetable_details">
																		<a href="#">Read more</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="friday day col-md-3 col-sm-6 col-xs-12">
												<div class="timetable-cont">
													<div class="time-table-title">
														<span>August, 21</span>
														<p>Friday</p>
													</div>
													<img alt="img" src="/images/athlete-5.png">
													<div class="box-content">
														<div class="table">
															<div class="box-cell">
																<div class="timetable-info">
																	<div class="title-content">
																		<span>Boxing for girls</span>
																		<div class="border-bottom"></div>
																		<p>16 P.M - 18P.M ANNA KATE</p>
																	</div>
																	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat volutpat nunc. Mauris eleifend nisi diam, ac cursus augue</p>
																	<div class="timetable_details">
																		<a href="#">Read more</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="saturday day col-md-3 col-sm-6 col-xs-12">
												<div class="timetable-cont">
													<div class="time-table-title">
														<span>August, 22</span>
														<p>Saturday</p>
													</div>
													<img alt="img" src="/images/athlete-6.png">
													<div class="box-content">
														<div class="table">
															<div class="box-cell">
																<div class="timetable-info">
																	<div class="title-content">
																		<span>Boxing for girls</span>
																		<div class="border-bottom"></div>
																		<p>16 P.M - 18P.M ANNA KATE</p>
																	</div>
																	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat volutpat nunc. Mauris eleifend nisi diam, ac cursus augue</p>
																	<div class="timetable_details">
																		<a href="#">Read more</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="sunday day col-md-3 col-sm-6 col-xs-12">
												<div class="timetable-cont">
													<div class="time-table-title">
														<span>August, 23</span>
														<p>Sunday</p>
													</div>
													<img alt="img" src="/images/athlete-7.png">
													<div class="box-content">
														<div class="table">
															<div class="box-cell">
																<div class="timetable-info">
																	<div class="title-content">
																		<span>Boxing for girls</span>
																		<div class="border-bottom"></div>
																		<p>16 P.M - 18P.M ANNA KATE</p>
																	</div>
																	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat volutpat nunc. Mauris eleifend nisi diam, ac cursus augue</p>
																	<div class="timetable_details">
																		<a href="#">Read more</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- End TimeTable -->

				<!-- Our Success Stories -->
				<section class="our-success">
					<div class="container">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="our-succes-top success">
									<h5>Our success stories</h5>
									<div class="succes-link">
										<a href="#">Mayra Collins lost 57 lbs in just 4 months</a>
									</div>
									<p> August 2, 2015 by <span>Sandee Rogers</span> in <span>Succes Stories</span></p>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="our-succes-center success">
									<h5>Our success stories</h5>
									<div class="succes-link">
										<a href="#">Claire Freemon recovered from a serious ski injury</a>
									</div>
									<p> July 12, 2015 by <span>Sandee Rogers</span> in <span>Succes Stories</span></p>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="our-succes-bottom success">
									<h5>Our success stories</h5>
									<div class="succes-link">
										<a href="#">Vincent Bryant reached a cool 5% body fat</a>
									</div>
									<p> June 5, 2015 by <span>Sandee Rogers</span> in <span>Succes Stories</span></p>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- End Our Success Stories -->
			</div>

			<!-- CrossBit Facts -->
			<section class="facts image-bg-2 ">
				<div class="background-overlay"></div>
				<div class="container">
					<div class="row">
						<div class="facts-page">
							<div class="title-page title-facts">
								<h3 class="module-title-h3">CrossBit Facts</h3>
								<p>Working from home meant we could vary snack and coffee breaks, change our desks or view, goof off, drink on the job, even spend the day in pajamas and even work out!</p>
							</div>
							<!-- <div class="col-md-3 col-sm-6 col-xs-12"> -->
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="facts-content">
									<div class="facts-icon"><i class="fa fa-bolt"></i></div>
									<div class="count">
										<span id="counter-1">13854</span>
										<div class="facts-border"></div>
									</div>
									<p class="facts-text">Club members</p>
								</div>
							</div>
							<!-- <div class="col-md-3 col-sm-6 col-xs-12"> -->
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="facts-content">
									<div class="facts-icon"><i class="fa fa-anchor"></i></div>
									<div class="count">
										<span id="counter-2">544</span>
										<div class="facts-border"></div>
									</div>
									<p class="facts-text">Club trainers</p>
								</div>
							</div>
							<!-- <div class="col-md-3 col-sm-6 col-xs-12"> -->
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="facts-content">
									<div class="facts-icon"><i class="fa fa-drupal"></i></div>
									<div class="count">
										<span id="counter-3">2830+</span>
										<div class="facts-border"></div>
									</div>
									<p class="facts-text">Fitness classes</p>
								</div>
							</div>
							<!-- div class="col-md-3 col-sm-6 col-xs-12">
								<div class="facts-content">
									<div class="facts-icon"><i class="fa fa-bomb "></i></div>
									<div class="count">
										<span id="counter-4">0</span>
										<div class="facts-border"></div>
									</div>
									<p class="facts-text">Club equipment</p>
								</div>
							</div -->

						</div>
					</div>
				</div>
			</section>
			<!-- End CrossBit Facts -->
		</div>
		<!-- End Timetable -->

		<!-- CrossBit Classes -->
		<!-- div id="class">
			<section id="classes" class="classes">
				<div class="classes-content">
					<div class="classes-wapper">
						<div class="title-page">
							<h3 class="module-title-h3">CrossBit Classes</h3>
							<p>Working from home meant we could vary snack and coffee breaks, change our desks or view, goof off, drink on the job, even spend the day in pajamas, </p>
						</div>
					</div>
					<div id="filters" class="filters button-group container">
						<button data-filter="*" class="filter button is-checked">All Classes</button>
						<button data-filter=".aerobic" class="filter button">Sport</button>
						<button data-filter=".fitness" class="filter button">Fitness</button>
						<button data-filter=".sport" class="filter button">Yoga</button>
						<button data-filter=".boxing" class="filter button">Boxing</button>
						<button data-filter=".dance" class="filter button">Dance Sport</button>
						<button data-filter=".belly" class="filter button">Belly Dance</button>
					</div>
					<div class="class-our">
						<div class="classes-athlete">
							<div class="classes-inner">
								<div id="filtering-demo">
									<section id="our-class-main" class="isotope">
										<div class="mix dance element-item col-xs-12 col-sm-6 col-md-4" data-category="dance">
											<div class="box-inner">
												<img src="/images/onepage/classes-6.png" alt=""/>
												<div class="box-content">
													<div class="table">
														<div class="box-cell">
															<div class="title">
																<a href="our-class-details.html">
																	<span>Benefits of Boxing</span>
																</a>
															</div>
															<div class="box-text">Lorem ipsum dolor sit amet, consectetur adipiscing...</div>
															<div class="box-details">
																<a href="our-class-details.html">Details</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="mix sport boxing element-item col-xs-12 col-sm-6 col-md-4" data-category="sport">
											<div class="box-inner">
												<img src="/images/onepage/classes-1.png" alt=""/>
												<div class="box-content">
													<div class="table">
														<div class="box-cell">
															<div class="title">
																<a href="our-class-details.html">
																	<span>Benefits of Boxing</span>
																</a>
															</div>
															<div class="box-text">Lorem ipsum dolor sit amet, consectetur adipiscing...</div>
															<div class="box-details">
																<a href="our-class-details.html">Details</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="mix fitness sport element-item col-xs-12 col-sm-6 col-md-4" data-category="sport">
											<div class="box-inner">
												<img src="/images/onepage/classes-3.png" alt=""/>
												<div class="box-content">
													<div class="table">
														<div class="box-cell">
															<div class="title">
																<a href="our-class-details.html">
																	<span>Benefits of Yoga</span>
																</a>
															</div>
															<div class="box-text">Lorem ipsum dolor sit amet, consectetur adipiscing...</div>
															<div class="box-details">
																<a href="our-class-details.html">Details</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="mix fsport boxing element-item col-xs-12 col-sm-6 col-md-4" data-category="boxing">
											<div class="box-inner">
												<img src="/images/onepage/classes-4.png" alt=""/>
												<div class="box-content">
													<div class="table">
														<div class="box-cell">
															<div class="title">
																<a href="#">
																	<span>Benefits of Boxing</span>
																</a>
															</div>
															<div class="box-text">Lorem ipsum dolor sit amet, consectetur adipiscing...</div>
															<div class="box-details">
																<a href="our-class-details.html">Details</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="mix aerobic fitness element-item col-xs-12 col-sm-6 col-md-4" data-category="aerobic">
											<div class="box-inner">
												<img src="/images/onepage/classes-5.png" alt=""/>
												<div class="box-content">
													<div class="table">
														<div class="box-cell">
															<div class="title">
																<a href="">
																	<span>Benefits of Boxing</span>
																</a>
															</div>
															<div class="box-text">Lorem ipsum dolor sit amet, consectetur adipiscing...</div>
															<div class="box-details">
																<a href="our-class-details.html">Details</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="mix fitness belly element-item col-xs-12 col-sm-6 col-md-4" data-category="belly">
											<div class="box-inner">
												<img src="/images/onepage/classes-2.png" alt=""/>
												<div class="box-content">
													<div class="table">
														<div class="box-cell">
															<div class="title">
																<a href="our-class-details.html">
																	<span>Benefits of Yoga</span>
																</a>
															</div>
															<div class="box-text">Lorem ipsum dolor sit amet, consectetur adipiscing...</div>
															<div class="box-details">
																<a href="our-class-details.html">Details</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="mix fitness sport element-item col-xs-12 col-sm-6 col-md-4" data-category="sport">
											<div class="box-inner">
												<img src="/images/onepage/classes-10.png" alt=""/>
												<div class="box-content">
													<div class="table">
														<div class="box-cell">
															<div class="title">
																<a href="#">
																	<span>Benefits of Boxing</span>
																</a>
															</div>
															<div class="box-text">Lorem ipsum dolor sit amet, consectetur adipiscing...</div>
															<div class="box-details">
																<a href="#">Details</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="mix sport boxing element-item col-xs-12 col-sm-6 col-md-4" data-category="boxing">
											<div class="box-inner">
												<img src="/images/onepage/classes-8.png" alt=""/>
												<div class="box-content">
													<div class="table">
														<div class="box-cell">
															<div class="title">
																<a href="#">
																	<span>Benefits of Boxing</span>
																</a>
															</div>
															<div class="box-text">Lorem ipsum dolor sit amet, consectetur adipiscing...</div>
															<div class="box-details">
																<a href="#">Details</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="mix aerobic fitness element-item col-xs-12 col-sm-6 col-md-4" data-category="aerobic">
											<div class="box-inner">
												<img src="/images/onepage/classes-9.png" alt=""/>
												<div class="box-content">
													<div class="table">
														<div class="box-cell">
															<div class="title">
																<a href="#">
																	<span>Benefits of Boxing</span>
																</a>
															</div>
															<div class="box-text">Lorem ipsum dolor sit amet, consectetur adipiscing...</div>
															<div class="box-details">
																<a href="#">Details</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div -->
		<!-- End CrossBit Class -->

		<div id="ourteam">
			<!-- Our Team -->
			<section id="our-team" class="our-team-page">
				<div class="our-team">
					<div class="our-team-content">
						<div class="our-team-inner">
							<div class="custom">
								<div class="our-team-tabs our-team-bottom our-team-fit  content-our-team" data-active="1">
									<div class="our-team-panes">
										<div class="our-team-pane our-team-clear">
											<div class="our-team-img col-md-4 col-sm-4 col-xs-12">
												<img src="/images/img_tabBlock4.png" alt="" data-mce-src="/images/img_tabBlock4.png"/>
											</div>
											<div class="detail-our-team col-md-8 col-sm-8 col-xs-12">
												<div class="detail-our-team-inner">
													<div class="detail-our-team-desc">Hello, I'm Mike Stramond, a personal trainer based in San Diego, dedicated to getting people in great shape &amp; improving their lifestyle.</div><div class="detail-our-team-user">Mike Stramond</div><div class="detail-our-team-pos">Co-Founder</div>
												</div>
											</div>

										</div>
										<div class="our-team-pane our-team-clear">
											<div class="our-team-img col-md-4 col-sm-4 col-xs-12">
												<img src="/images/img_tabBlock4_3.png" alt="" data-mce-src="/images/img_tabBlock4_3.png" />
											</div>
											<div class="detail-our-team col-md-8 col-sm-8 col-xs-12">
												<div class="detail-our-team-inner">
													<div class="detail-our-team-desc">Hello, I'm Claire Freemon, a personal trainer based in San Diego, dedicated to getting people in great shape &amp; improving their lifestyle.</div>
													<div class="detail-our-team-user">Claire Freemon</div>
													<div class="detail-our-team-pos">Yoga trainer</div>
												</div>
											</div>

										</div>
										<div class="our-team-pane our-team-clear">
											<div class="our-team-img col-md-4 col-sm-4 col-xs-12">
												<img src="/images/img_tabBlock4_2.png" alt="" data-mce-src="/images/img_tabBlock4_2.png" />
											</div>
											<div class="detail-our-team col-md-8 col-sm-8 col-xs-12">
												<div class="detail-our-team-inner">
													<div class="detail-our-team-desc">Hello, I'm Vincent Bryant, a personal trainer based in San Diego, dedicated to getting people in great shape &amp; improving their lifestyle.</div>
													<div class="detail-our-team-user">Vincent Bryant</div>
													<div class="detail-our-team-pos">Boxing trainer</div>
												</div>
											</div>

										</div>
									</div>
									<div class="our-team-nav">
										<span class="" style="width: 33.333333333333%;">
											<span class='our-team-name'>Mike Stramond</span>
											<span class='our-team-position'>Co-Founder</span>
										</span>
										<span class="yoga-trainer" style="width: 33.333333333333%;">
											<span class='our-team-name'>Claire Freemon</span>
											<span class='our-team-position'>Yoga trainer</span>
										</span>
										<span class="boxing-trainer" style="width: 33.333333333333%;">
											<span class='our-team-name'>Vincent Bryant</span>
											<span class='our-team-position'>Boxing trainer</span>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Our Team -->
		</div>
	</div>
</template>
