*,
*:after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*
body  {
	background: #bada55;
}

.container {
	padding: 80px;
}
*/
.rb-menu {
	position: fixed;
	top: 0;
	left: 0;
	border-width: 0px;
	border-style: solid;
	border-color: rgba(0,0,0,0);
	background-color: rgba(0,0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
	transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
}

.rb-menu.rb-menu-open {
	border-width: 60px 30px 30px 60px;
	background-color: rgba(0,0,0,0);
	-webkit-transition: border-width 0.3s, background-color 0.3s;
	transition: border-width 0.3s, background-color 0.3s;
}

.rb-board {
	width: 960px;
	height: 720px;
	background-color: #3A5645;
}
/*
.rb-menu-trigger {
	position: fixed;
	top: 15px;
	left: 20px;
	display: block;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.rb-menu-trigger span {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 100%;
	height: 4px;
	margin-top: -2px;
	background-color: #fff;
	font-size: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.rb-menu-open .rb-menu-trigger span {
	background-color: transparent;
}

.rb-menu-trigger span:before,
.rb-menu-trigger span:after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.rb-menu-trigger span:before {
	-webkit-transform: translateY(-250%);
	transform: translateY(-250%);
}

.rb-menu-trigger span:after {
	-webkit-transform: translateY(250%);
	transform: translateY(250%);
}

.rb-menu-open .rb-menu-trigger span:before {
	-webkit-transform: translateY(0) rotate(45deg);
	transform: translateY(0) rotate(45deg);
}

.rb-menu-open .rb-menu-trigger span:after {
	-webkit-transform: translateY(0) rotate(-45deg);
	transform: translateY(0) rotate(-45deg);
}
*/
.rb-menu ul {
	position: fixed;
	top: 60px;
	left: 0;
	margin: 0;
	padding: 0;
	width: 60px;
	list-style: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.rb-menu ul li,
.rb-menu ul li a {
	display: block;
	width: 100%;
	text-align: center;
}

.rb-menu ul li {
	padding: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
	transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
}

.rb-menu ul li:first-child {
	-webkit-transform: translate3d(-100%,200%,0);
	transform: translate3d(-100%,200%,0);
}

.rb-menu ul li:nth-child(2) {
	-webkit-transform: translate3d(-100%,100%,0);
	transform: translate3d(-100%,100%,0);
}

.rb-menu ul li:nth-child(3) {
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

.rb-menu ul li:nth-child(4) {
	-webkit-transform: translate3d(-100%,-100%,0);
	transform: translate3d(-100%,-100%,0);
}

.rb-menu ul li:nth-child(5) {
	-webkit-transform: translate3d(-100%,-200%,0);
	transform: translate3d(-100%,-200%,0);
}

.rb-menu.rb-menu-open ul li {
	visibility: visible;
	opacity: 1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s 0.1s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.rb-menu ul li a {
	display: block;
	outline: none;
	color: transparent;
	text-decoration: none;
	/* font-size: 12px; */
}

.rb-menu ul li a:before {
	color: #bada55;
	font-size: 24px;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.rb-menu ul li a:hover:before,
.rb-menu ul li a:focus:before  {
	color: #fff;
}

@media screen and (max-height: 31.125em) {
	.rb-menu ul li a:before {
		font-size: 24px;
	}
}
