<template name="footer">
	<footer class="page-footer">
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12 infomation">
						<div class="copy-right">
							<div class="footer-right">
								<div class="line1">Copyright &copy; 2015<a href="#"> CrossBit Fitness</a></div>
								<div class="line2">Designed and development by CrossBit</div>
							</div>
						</div>
						<div class="social_icon">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-google-plus"></i></a>
							<a href="#"><i class="fa fa-youtube"></i></a>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 location">
						<div class="footer-title">
							<h4>Our location</h4>
						</div>
						<div class="address">
							<p>1 Infinite Loop<br>Cupertino, CA 95014<br>Phone : +1 (408) 996-1010<br>Email : mail@example.com</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 send-mail">
						<div class="footer-title">
							<h4>Keep in touch</h4>
						</div>
						<form name="" method="post"  id="send-mail">
							<div class="info">Lorem ipsum dolor sit amet, consectetur adi sollicitud ante tellus ornare mi, et mollis</div>
							<div class="email">
								<input type="text" title="E-mail" name="user[email]" class="inputbox" placeholder="Your email" >
								<button class="button" title="Submit" type="submit"><i class="fa fa-arrow-right"></i></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</footer>
</template>
