<html lang="en">
	<head>
		<!--meta info-->
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta name="author" content="">
		<meta name="keywords" content="">
		<meta name="description" content="">

		<title>Reset Password</title>

		<link rel="stylesheet" href="/css/style.css" type="text/css">
		<link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
		<link rel="stylesheet" href="/css/font-awesome.css" type="text/css">
		<link rel="stylesheet" href="/css/color.css" type="text/css">
		<link rel="stylesheet" href="/css/email.css" type="text/css">
	</head>
	<body id="page-top" class="" data-offset="90" data-target=".navigation" data-spy="scroll">
		<div class="wrapper hide-main-content">
			<section class="page page-category contacts-us">
				<div class="content-wrapper">
					<!--Header-->
					<header id="header" class="header header-container alt reveal">
						<div class="container">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12 logo">
									<h3 class="ms-layer hps-title1" data-ease="easeOutExpo">CrossBit</h3>
								</div>
							</div>
						</div>
					</header>
					<!--End Header-->
					<div class="page-content">
						<!-- Our Team -->
						<section id="our-team" class="our-team-page">
							<div class="our-team-head">
								<div class="container">
									<div class="row">
										<div class="col-md-8 col-sm-6 col-xs-12 headding-message">
											<div class="headding-title">
												<h4><br />Forgot your password, {{name}}?<br /></h4>
											</div>
											<div class="headding-content">
												<p>Don't worry, let's get you a new one!</p>
												<p>Just click on <a href="{{url}}"><span>this link</span></a> to go to the site and create a new one.</p>
												<p>In case you didn't request new password, just ignore this email or <a href="mailto:crossbit@webappsconsult.com?Subject=I+didn't+request+a+new+password"><span>send us a message</span></a>.</p>
												<p>&nbsp;</p>
												<p>Enjoy! :)</p>
												<p>--- Your CrossBit team</p>
												<p>&nbsp;</p>
											</div>
										</div>
										<div class="col-md-4 col-sm-6 col-xs-12 headding-contact">
											<div class="headding">
												<div class="headding-title">
													<h4>Our Head Office</h4>
													<div class="headding-bottom"></div>
												</div>
												<ul class="headding-content">
													<li>
														<div class="icon-headding">
															<i class="fa fa-home"></i>HQ
														</div>
														<div class="cont-headding">
															<h5>CrossBit fitness Studio</h5>
															<p>1 Infinite Loop, Cupertino, CA 95014</p>
														</div>
													</li>
													<li>
														<div class="icon-headding">
															<i class="fa fa-globe"></i>www
														</div>
														<div class="cont-headding">
															<h5>Website &amp; online store </h5>
															<a href="{{absoluteUrl}}">{{absoluteUrl}}</a>
														</div>
													</li>
													<li>
														<div class="icon-headding">
															<i class="fa fa-phone"></i>Phone
														</div>
														<div class="cont-headding">
															<h5>Telephone </h5>
															<p>+1 (408) 996-1010</p>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<!-- End Our Team -->
					</div>
				</div>
			</section>

			<!--Footer-->
			<footer class="page-footer">
				<section>
					<div class="container">
						<div class="row">
							<div class="col-md-4 col-sm-4 col-xs-12 infomation">
								<div class="copy-right">
									<div class="footer-right">
										<div class="line1">Copyright © 2015<a href="{{absoluteUrl}}"> CrossBit Fitness</a></div>
										<div class="line2">Designed and development by CrossBit</div>
									</div>
								</div>
								<div class="social_icon">
									<a href="#" alt="facebook"><i class="fa fa-facebook"></i>f</a>
									<a href="#" alt="twitter"><i class="fa fa-twitter"></i>t</a>
									<a href="#" alt="g+"><i class="fa fa-google-plus"></i>g+</a>
									<a href="#" alt="YouTybe"><i class="fa fa-youtube"></i>You</a>
								</div>
							</div>
						</div>
					</div>
				</section>
			</footer>
			<!--End Footer-->
		</div>
	</body>
</html>
